* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body1 {
  background-color: #2640bf;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  color: inherit;
  text-decoration: none;
}
#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-login {
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.box-login h2 {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #2640bf;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.btn {
  padding: 8px 15px;
  width: 268px;
  background-color: #2640bf;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.btn1 {
  padding: 8px 15px;
  width: 130px;
  background-color: #2640bf;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
@font-face {
  font-family: "VanguardCF";
  src: url("vanguard.otf") format("truetype");
}
.logo-brand {
  font-family: "VanguardCF", sans-serif;
  font-size: 40px;
}
header {
  background-color: #2640bf;
  color: #fff;
}
header h1 {
  float: left;
  padding: 10px 0;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding: 25px 0 20px 15px;
  display: inline-block;
}
footer {
  padding: 25px 0;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.section {
  padding: 25px 0;
}
.box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0 25px 0;
}
.box::after {
  content: "";
  display: block;
  clear: both;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr {
  height: 30px;
}
.table tr td {
  padding: 5px 10px;
}


@media screen and (max-width: 970px) {
}



.search {
  padding: 15px 0;
  background-color: #fff;
  text-align: center;
}
.search input[type="text"] {
  width: 60%;
  font-weight: 600;
  padding: 20px;
}
.search input[type="submit"] {
  padding: 20px 15px;
  background-color: #2640bf;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search .container .sd12jsdf {
  margin-left: -77px;
  border: 1px solid black;
}

.col-5 {
  width: 20%;
  height: 100px;
  text-align: center;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.col-4 {
  width: 25%;
  height: 320px;
  border: 1px solid #ccc;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.col-4:hover {
  box-shadow: 0 0 3px #2640bf;
}
.col-4 img {
  width: 95%;
  box-sizing: border-box;
}
.col-4 .nama {
  color: #666;
  margin-bottom: 6px;
  font-weight: bold;
}
.col-4 .harga {
  font-weight: bold;
  color: #2640bf;
}
.footer {
  padding: 25px 0;
  margin-top: 10vh;
  position: sticky;
  top: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.footer p {
  margin-bottom: 10px;
}
.footer small {
  margin-top: 25px;
  display: inline-block;
}
.col-2 {
  width: 50%;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
.col-2 img {
  border: 1px solid #f9f9f9;
  padding: 15px;
  box-sizing: border-box;
}
.col-2 h3 {
  margin-bottom: 10px;
}
.col-2 h4 {
  color: #2640bf;
}
.col-2 p {
  margin: 15px 0;
  text-align: justify;
  line-height: 25px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .col-5 {
    width: 50%;
    margin-bottom: 10px;
  }
  .col-4 {
    width: 50%;
    height: 300px;
  }
  .col-2 {
    width: 100%;
  }
}

/* navbar */

nav {
  background: #2640bf;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-wrapper {
  width: 80%; /* Lebar konten navbar */
  margin: 0 auto; /* Menengahkan navbar */
}

.jjnnsdfnbjs {
  width: 100%;
  margin: 90px auto 0; /* Menambahkan margin atas untuk menghindari tumpang tindih dengan navbar yang tetap menempel */
}

.jjnnsdfnbjs:after {
  content: "";
  display: block;
  clear: both;
}

label.logo a {
  color: white;
  font-family: "VanguardCF", sans-serif;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}

.llppojhnsdq23 {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo a {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .nav-wrapper {
    width: 90%; /* Lebar konten navbar */
    margin: 0 auto; /* Menengahkan navbar */
  }
}

@media (max-width: 500px) {
  .nav-wrapper {
    width: 100%; /* Lebar konten navbar */
    margin: 0 auto; /* Menengahkan navbar */
  }
}

@media (max-width: 858px) {
  

  .llppojhnsdq23 {
    display: block;
  }

  .llkkjsdfj12 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* Product not available */

.sa213123x {
  text-align: center;
}

.sa213123x a {
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 100px;
}

.sa213123x h2 {
  margin-bottom: 30px;
}

.sa213123x .btn-home {
  color: #fff;
  margin-top: 30px;
  background-color: #2640bf;
  border-radius: 20px;
  padding: 10px 20px;
}
